absl-py
altair
appdirs
asttokens
astunparse
attrs
autopep8
backcall
beautifulsoup4
blinker
cachetools
certifi
changelogs
charset-normalizer
click
cmake
CoAPthon
colorama
comtypes
cycler
debugpy
decorator
distlib
docopt
entrypoints
et-xmlfile
executing
face-recognition-models
Faker
filelock
Flask
flatbuffers
fonttools
gast
gitchangelog
gitdb
GitPython
google-auth
google-auth-oauthlib
google-pasta
grpcio
gunicorn
h5py
idna
importlib-metadata
ipykernel
ipython
itsdangerous
jax
jedi
Jinja2
joblib
Js2Py
jsonschema
jsonschema-specifications
jupyter-client
jupyter-core
keras
kiwisolver
libclang
lxml
Markdown
markdown-it-py
MarkupSafe
matplotlib
matplotlib-inline
mdurl
mixer
ml-dtypes
MouseInfo
nest-asyncio
nltk
numpy
oauthlib
opencv-python
openpyxl
opt-einsum
packaging
pandas
parso
patsy
pickleshare
Pillow
pipsy
pipwin
prompt-toolkit
protobuf
pure-eval
pyarrow
pyasn1
pyasn1-modules
PyAudio
PyAutoGUI
pycodestyle
pydeck
pygame
PyGetWindow
Pygments
pyjsparser
Pympler
PyMsgBox
pyparsing
pyperclip
PyPrind
PyRect
PyScreeze
pyshorteners
pySmartDL
python-dateutil
pyttsx3
PyTweening
pytz
pyzmq
referencing
regex
requests
requests-oauthlib
rich
rsa
scikit-learn
scipy
six
sklearn
smmap
soupsieve
speedtest-cli
stack-data
streamlit
telegram
tenacity
tensorboard
tensorboard-data-server
tensorboard-plugin-wit
tensorflow
tensorflow-estimator
tensorflow-intel
tensorflow-io-gcs-filesystem
termcolor
text-unidecode
threadpoolctl
toml
toolz
tornado
tqdm
traitlets
typing_extensions
tzlocal
urllib3
validators
virtualenv
waitress
watchdog
wcwidth
Werkzeug
wrapt
xlrd
zipp
